$iconSpritePath: '../bower_components/sass-bootstrap/img/glyphicons-halflings.png';
$iconWhiteSpritePath: '../bower_components/sass-bootstrap/img/glyphicons-halflings-white.png';
@import '../bower_components/sass-bootstrap/lib/bootstrap';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba( 0, 0, 0, 0.65 );
}

header{
    height: 40px;
    border-bottom: 1px #eeeeee solid;
    padding-left: 20px;
    color: rgba( 0, 0, 0, 0.65 );

    & h1{
        font-size: 20px;
        text-align: left;
    }
}

#container {
    width: 100%;
    height: 100%;
}

#sideNav {
    float: left;
    width: 15%;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
    min-height: 700px;
    z-index: 1000;

    & h3{
        padding-left: 20px;
        display: block;
        line-height: 29px;
        color: #444444;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 0 0px 0 rgba(0,0,0,0.2);
        text-transform: uppercase;
        border-bottom: 1px #eeeeee solid;
    }

    & em{
        color: #555555;
        font-size: 11px;
        font-weight: 400;
    }

    & #playbook {

        & .selected{
            #background: url(/../images/sidebar_hover.png) repeat-x;
            background-color: #eeeeee;
        }

        & .selected:hover{
            background-color: #dddddd;
        }

        & #addPlay{
            padding-left: 20px;
            cursor: pointer;
        }

        & ul{
            position: relative;
            list-style-type: none;
            margin: 0;

            & li{
                height: 29px;
                font-size: 13px;
                line-height: 29px;

                &:hover{
                   background-color: #DDD;
                }

                & a{
                    color: #3e9348;
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: bold;
                }

                & .playActions{
                    position: absolute;
                    right: 0;
                }

                & .playAction{
                    cursor: pointer;
                    margin-right: 10px;

                    &:hover{
                        color: #00A000;
                    }

                    &.delete:hover{
                        color: crimson;
                    }
                }
            }
        }
    }

    & #toolbox{
        padding-top: 20px;

        & #playerList{
            padding-left: 20px;
        }
    }
}

.playTypeIcon{
    margin-left: 20px;
    margin-right: 20px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.player {
    background: #efefef;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#pitch {
    width: 85%;
    height: 100%;
    background-color: #00A000;
    float: right;

    & .pitchDetails {
        width: 10%;
        z-index: 100;
        padding-left: 20px;

        & input {
            box-shadow: none;
            border: 0px;
            border-bottom: 3px solid green;
            color: #efefef;
            background: transparent;
        }
    }

    & .playView {

    }
}