$iconSpritePath: '../bower_components/sass-bootstrap/img/glyphicons-halflings.png';
$iconWhiteSpritePath: '../bower_components/sass-bootstrap/img/glyphicons-halflings-white.png';
@import '../bower_components/sass-bootstrap/lib/bootstrap';

body{
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
    background: url(/../images/background.png);
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeeeee;


    & header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        background: #3c3d47 url(/../images/header_background.png);
        border-bottom: 1px solid rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: 0 1px 0 rgba(255,255,255,0.1);

        & h1{
            font-size: 20px;
            text-align: left;
            color: #FEFEFE;
            padding: 0 0 0 20px;
        }
    }
}

#container {
    width: 100%;
    height: 100%;
}

#sideNav {
    position: fixed;
    top: 51px;
    left: 0;
    width: 286px;
    padding: 10px 0 25px 0;
    overflow-y: auto;

    & .selected{
        background: url(/../images/sidebar_hover.png) repeat-x;
    }

    & #addPlay{
        padding-left: 20px;

        & i{
           margin-right: 20px;
        }

        &:hover{
            cursor: pointer;
            background: url(/../images/sidebar_hover.png) repeat-x;
            color: #228b22;
        }
    }

    & h3{
        padding-left: 25px;
        display: block;
        line-height: 29px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 0 2px 0 rgba(0,0,0,0.3);
        text-transform: uppercase;
    }

    & em{
        color: #a7a7b3;
        font-size: 11px;
        font-weight: 400;
        margin-left: 8px;
    }

    & ul{
        list-style-type: none;
        margin: 0;

        & li{
            height: 29px;
            font-size: 13px;
            line-height: 29px;

            &:hover{
                background: url(/../images/sidebar_hover.png) repeat-x;
            }

            & a{
                color: #fdfdfe;
                text-shadow: 0 1px 0 rgba(0,0,0,0.8);
                text-decoration: none;
                font-size: 13px;
                font-weight: normal;
            }

            & .icon-move{
                margin-left: 20px;
                margin-right: 20px;
                cursor: move;
            }

            & .playActions{
                position: absolute;
                right: 20px;
            }

            & .playAction{
                cursor: pointer;

                &:hover{
                    color: deepskyblue;
                    font-weight: bold;
                }

                &.delete:hover{
                    color: crimson;
                }
            }
        }
    }
}

#pitch {
    position: fixed;
    top: 51px;
    left: 286px;
    width: 85%;
    height: 100%;
    background-color: #00A000;
}